/java-json-parser-http-master/build/
/uploadApp/build/
/webapp-listing-directories/nbproject/private/
/webapp-listing-directories/build/
/listing-directories/nbproject/private/
/listing-directories/build/
/listing-directories/dist/
/listingdir/nbproject/private/
/listingdir/build/
/listingdir/dist/
/jquery-validation/nbproject/private/
/jquery-validation/build/
/jquery-ajax-validation/nbproject/private/
/jquery-ajax-validation/build/
/email-account-activation/nbproject/private/
/email-account-activation/build/
/text-editor-tinymce_4.5.1/nbproject/private/
/text-editor-tinymce_4.5.1/build/
/jsTree/nbproject/private/
/jsTree/build/
/JavaConfig/nbproject/private/
/requestLoginMethod/nbproject/private/
/requestLoginMethod/build/
/UploadImageMysql/nbproject/private/
/UploadImageMysql/build/
/servlet-pagination/nbproject/private/
/servlet-pagination/build/
/webSocket/nbproject/private/
/webSocket/build/
/jndi-mysql/nbproject/private/
/jndi-mysql/build/