/java-json-parser-http-master/build/
/uploadApp/build/
/webapp-listing-directories/nbproject/private/
/webapp-listing-directories/build/
/listing-directories/nbproject/private/
/listing-directories/build/
/listing-directories/dist/
/listingdir/nbproject/private/
/listingdir/build/
/listingdir/dist/
/jquery-validation/nbproject/private/
/jquery-validation/build/
/jquery-ajax-validation/nbproject/private/
/jquery-ajax-validation/build/
/email-account-activation/nbproject/private/
/email-account-activation/build/