<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
      
   <servlet>
      <servlet-name>DirectoryListing</servlet-name>
      <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
      <init-param>
         <param-name>listings</param-name>
         <param-value>true</param-value>
      </init-param>     
   </servlet>

   <servlet-mapping>
      <servlet-name>DirectoryListing</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
   
   <security-constraint>
      <display-name>Archivos protegidos para estudiantes de Udemy</display-name>
      <web-resource-collection>
         <web-resource-name>Recursos de lecciones</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/udemy/*</url-pattern>         
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with this role may access this area -->
         <role-name>udemy</role-name>         
      </auth-constraint>
   </security-constraint>
   
   <security-constraint>
      <display-name>Archivos protegidos - Usuarios de Internet</display-name>
      <web-resource-collection>
         <web-resource-name>Area protegida</web-resource-name>
         <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/protected/*</url-pattern>         
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with this role may access this area -->        
         <role-name>internet</role-name>
      </auth-constraint>
   </security-constraint>

   <!-- Default basic authentication -->
   <login-config>
      <auth-method>BASIC</auth-method>
   </login-config>

</web-app>
