<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>net.itinajero.UploadServlet</servlet-class>
    <!-- https://docs.oracle.com/javaee/6/tutorial/doc/gmhal.html -->
    <multipart-config>
      <!--
      <location>c:\tmp</location>
      -->
      <location>/tmp</location>
      <!-- Tamanio maximo del archivo a subir-->
      <max-file-size>1048576</max-file-size>
      <max-request-size>5242880</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
</web-app>
